.carousel-inner img {
    margin: auto;
    width: 60%;
}

#carousel-container{
    margin-top:7%;
}

#carouselSlider{
     margin: auto;
    max-width: 1200px;
}

body {
    background-color:white;
    font-style: 'Montserrat', sans-serif;
}

.carousel-nav-icon {
    height: 48px;
    width: 48px;
    
}

@media(max-width: 576px){
    .carousel-nav-icon {
        width: 30px;
        height: 30px;
    }

    .carousel-inner img {
        margin: auto;
        width: 80%;
    }

}

.datelabel {
    text-align: center;
    margin: auto;
}

.navbar-brand {
    font-size: 1.8rem;
    padding-bottom: 0;
    
}

.navbar {
    border-bottom: solid 3px #888888;
    padding-bottom: 0;
}